@use '../util' as u;

.grid {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: hsl(248, 53%, 58%)
  }

  &__sidebar {
    @include u.breakpoint-down(medium) {
      text-align: center;
    }

    @include u.breakpoint-down(small) {
      text-align: right;
    }
  }

  %widget {
    padding: u.rem(16) u.rem(32);
  }

  &__widget {
    @extend %widget;
    background-color: hsl(147, 50%, 47%);

    &.pink {
      background-color: hsl(303, 68%, 48%);
      text-align: right;
    }

    &.yellow {
      background-color: hsl(68, 86%, 48%);
      text-align: left;
    }
  }
}