@use '../util/variables' as *;

button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &.isloading {
    cursor: not-allowed;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      left: 10px;
      width: 1em;
      height: 1em;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      border-top-color: #3498db;
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}